In [28]:
#Biodata
nama = "Vicky Ramdhani"
usia = 19
sudah_menikah = False
hobi = "menonton film dan jalan jalan"
quote = "hidup indah bila mencari berkah"
print("nama:",nama)
print("usia:",usia)
print("sudah_menikah:",sudah_menikah)
print("hobi:",hobi)
print("quote:",quote)

nama: Vicky Ramdhani
usia: 19
sudah_menikah: False
hobi: menonton film dan jalan jalan
quote: hidup indah bila mencari berkah

In [17]:
a,b,c = 1,2,"mantap"
print("a:",a)
print("b:",b)
print("c:",c)
d = e = f = 10
print("d:",d)
print("e:",e)
print("f:",f)

a: 1
b: 2
c: mantap
d: 10
e: 10
f: 10

In [20]:
kota = "sukabumi"
nilai = 50
print(type(kota))
print(type(nilai))

<class 'str'>
<class 'int'>

In [27]:
#Cara Menghitung Luas
panjang = 5
lebar = 10.5
luas = panjang*lebar
print(panjang, "*" ,lebar, "=" ,luas)
print("Tipe dari variabel panjang:", type(panjang))
print("Tipe dari variebel lebar:", type(lebar))
print("Tipe dari variabel luas:", type(luas))

5 * 10.5 = 52.5
Tipe dari variabel panjang: <class 'int'>
Tipe dari variebel lebar: <class 'float'>
Tipe dari variabel luas: <class 'float'>

In [32]:
#Cara Menghitung Luas Segitiga
alas = 10
tinggi = 5
luas = 0.5 * alas * tinggi 
print("luas segitiga=", luas, "cm2")

luas segitiga= 25.0 cm2

In [40]:
#Menghitung Umur
tahunlahir = 2002
tahunsekarang = 2022
umur = tahunsekarang-tahunlahir
print("umur =",umur)

umur = 20

In [49]:
#Bidata
nama_depan = "Vicky"
nama_belakang = "Ramdhani"
nama_lengkap = nama_depan+' '+nama_belakang
usia = "19"
alamat = "Cireunghas"
kata_mutiara = "You Only Live Once"
print(nama_lengkap,'('+ usia + ')', ',' 'dari', alamat, ', kata mutiara:', kata_mutiara)

Vicky Ramdhani (19) ,dari Cireunghas , kata mutiara: You Only Live Once

In [54]:
print("saya "*3)

saya saya saya

In [57]:
print("saya " * "saya ")

TypeError: can't multiply sequence by non-int of type 'str'

In [65]:
#Cara Nulis Menurun Kebawah
print("\n saya "*3)

 saya
 saya
 saya

In [68]:
print("\r saya")

 saya

In [75]:
print("\n Nama Saya:", "\n Vicky Ramdhani", "\n Jurusan:", ("\n Teknik Informatika"))

 Nama Saya:
 Vicky Ramdhani
 Jurusan:
 Teknik Informatika

In [83]:
print('''Nama Saya :
Vicky Ramdhani
Jurusan :
Teknik Informatika ''')

Nama Saya :
Vicky Ramdhani
Jurusan :
Teknik Informatika

In [91]:
saya_orang_indonesia = True
saya_adalah_robot = False
print('apakah saya orang indonesia =', saya_orang_indonesia)
print('Tipe dari saya_orang_indoensia', type(saya_orang_indonesia))
print('apakah saya adalah robot =', saya_adalah_robot)
print('Tipe dari saya_adalah_robot', type(saya_adalah_robot))

apakah saya orang indonesia = True
Tipe dari saya_orang_indoensia <class 'bool'>
apakah saya adalah robot = False
Tipe dari saya_adalah_robot <class 'bool'>

In [107]:
foo = false
print(foo)

NameError: name 'false' is not defined

In [111]:
foo = 10>12
print(foo)
foo = 10<10
print(foo)
foo = A = a
print(foo)

False
False
False